* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --green-100: #f3f9fa;
    --green-200: #c5e4e7;
    --green-300: #9EBBBD;
    --green-400: #7F9D9F;
    --green-500: #5e7a7d;
    --green-600: #547878;
    --green-700: #3d6666;
    --green-800: #004748;
    --light-green: #26c2ae;
    --white: #ffffff;
}

body {
    background-color: var(--green-200);
}

header { 
    display: flex;
    justify-content: center;
    padding-block: 2.8rem;
}